<!doctype html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page %><</title>
    <!-- Bootstrap CSS -->  
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css">  </head>
  <body>