<div class="row justify-content-md-center my-4">
    <div class="col-4">
        <div class="container">
            <div class="card" style="width:230px">
            <img class="card-img-top" src=" <%= data.url %> " alt="No Image Found" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"><%= data.name %></h4>
                    <p class="card-text">
                        <strong>Genres:</strong>  <%= data.genres %><br>
                        <strong>Language:</strong> <%= data.language %>
                    </p>
                    <a href="/../menu" class="btn btn-primary stretched-link">Back</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  